DATABASE_URL="postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@localhost:5432/{POSTGRES_DB}"

POSTGRES_USER=user_name
POSTGRES_PASSWORD=pass
POSTGRES_DB=db_name

JWT_SECRET="jwt_secret"
JWT_REFRESH_SECRET="jwt_refresh_secret"

BASE_URL="http://localhost:3000/api/v1"